*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(../img/Espera.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/*Botones superiores*/
   #botonComic{
       height: 35px;
       width: 45px;  
   }
   #imagenweb{
    height: 2cm;
    width: 2cm;
   }
   #ImgPerfilch{
    height: 53px;
   }
   #btn_mas{ /* boton para abrir el popup */
    height: 2cm;
    width: 2cm;
    border-radius: 100%;
    border-top-style:unset;
    align-items:center;
    justify-content: center;
    border-bottom: 5px;
    border-color: beige;
    background: linear-gradient(180deg, #fae98c 0%, #f8924d 100%);
    font-size: 45px;
    color: #ffffff;
   }
   #btnperfil{
    height: 1.5cm;
    width: 2.5cm;
    border-color: #ffffff;
   }
   .btnhistoria{
    height: 2cm;
    width: 2cm;
    align-items:center;
    justify-content: center;
    border-radius: 100%;
    border-bottom: 5px;
    border-color: beige;
    background: linear-gradient(180deg, #fae98c 0%, #f8924d 100%);
    color: #ffffff;
    font-size: 40px;
   }
   .btnhis{
    align-items:center;
    justify-content: center;
    color: #ffffff;
   }
   /*alinacion de los botones superiores*/
   #botones{
    display: flex;
    position: static;
    align-items:center;
    justify-content: center;
    margin-bottom: 100% 5%;
    margin-top: 2%;
   }
   #hijo{
    margin-left: 5%;
   }
   #hijo1{
    margin-left: 55%;
    margin-top: 1%;
   }
   #hijo2{
    margin-left: 5%;
   }
   #hijo3{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 4%;
   }
   /*parte de la ventana emergente del perfil del personaje*/
.Container-personaje{
    display: none;
    position: fixed;
      background-color:rgba(255, 252, 252, 0.767);
      align-items:center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .Popup{
    background-color: white;
position: absolute;
     top: 50%;
    left: 50%;
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    border: 1px solid #f0eded;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
  transition: transform 1s;
  transform: translate(-50%, -50%);
  }
  /*estilo del boton para cerrar el popup*/
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #fac7da;
    color: #ffffff;
   border-bottom: 100%;
  }
/*estilo del titulo*/
.Pp{
  margin-top: 4%;
  color: color-mix(in srgb, rgb(241, 212, 204) 50%, rgb(250, 109, 58) 50%);
   font-family: 'Caprasimo', cursive;
   font-weight: bold;
   font-size: 30px;
   font-style: oblique;
}
/*estilo del texto*/
p{
  margin-top: 2%;
  font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
#imgdk{
    height: 125px;
    width: 100px;
    margin-top: 6%;
}
.titulo1{ 
  font-size: 23px;
  font-family:'Caprasimo' ;
}
.popup{/* estilo del popup de como jugar */
  display: none;
  position: fixed;
    background-color:rgba(248, 246, 246, 0.637);
    align-items:center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Popup-contenido{ /* estilo del contenido del popup de como jugar */
  background-color: white;
position: absolute;
     top: 50%;
    left: 50%;
    width: 500px;
    max-width: 100%;
    padding: 30px 50px;
    border: 1px solid #e6e5e5;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(71, 71, 71, 0.1);
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
  transition: transform 1s;
  transform: translate(-50%, -50%);
}
.btnclose{ /* boton para cerrar el popup de como jugar*/
  position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: #fac7da;
    color: #ffffff;
   border-bottom: 100%;
}
/* botones inferiores*/
/* div boton play*/
.botonp{
  margin-top: 35%;
margin-left: 70%; 
margin-right:10% ; 
color: white;
}
/* boton play*/
.play{
  height: 70px;
  width: 165px;
  font-size: 23px;
  font-family: fantasy;
  background: linear-gradient(180deg, #fae98c 0%, #f8924d 100%);
  border-radius: 20%;
  border-color: white;
  border-style: groove;
}
/* botones inferiores*/
 a{
  color: white;
  text-decoration: none;
 }

/* -------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------*/
/* CSS general aquí */

@media(max-width: 720px) {
  /* Estilos para pantallas de celular */
body{
  background: url(../img/EsperaH.png);
  background-repeat: no-repeat;
  background-size: cover;
}
  /* Ajusta los tamaños de fuente y los tamaños de botones según sea necesario */
  #botonComic {

      height: 35px;
      width: 45px;
  }
  #imagenweb {

      height: 60px;
      width: 60px;
  }
  #ImgPerfilch {

    height: 40px;
    width: 60px;
  }
  #btn_mas {
    padding: 1px 1px; 
      font-size: 25px;
  }
  #btnperfil {

      height: 40px;
      width: 60px;
  }
  .btnhistoria {
    padding: 2px 2px; 
    font-size: 25px;
      align-items: center;
  }
  .btnhis {

    font-size: 25px;
  }

  /* Ajusta el diseño de los botones superiores */
  #botones {
      flex-direction: column;
      align-items: right;
      margin-left: 60%;
      margin-right: 5%;
      margin-top: 10%;
  }
  #hijo {
      margin: 5px 0;
      margin-top: 10%;
  }
  #hijo1 {
      margin: 5px 0;
      margin-top: 10%;
  }
  #hijo2 {
      margin: 5px 0;
      margin-top: 10%;
  }
  #hijo3 {
      margin: 5px 0;
      margin-top: 10%;
  }

  /* Ajusta el diseño de la ventana emergente del perfil del personaje */
  .Popup {
      width: 70%;
  }
  .Popup-contenido{
    width: 70%;
  }

  /* Ajusta el diseño del botón para cerrar el popup */
  .close {
      top: 5px;
      right: 5px;
  }

  /* Ajusta el diseño del título */
  .Pp {
      font-size: 30px;
  }

  /* Ajusta el diseño del texto */
  p {
      font-size: 18px;
      text-align: left;
  }

  #imgdk {
      height: 100px;
      width: 80px;
      margin-top: 100%;
  }

  .titulo1 {
      font-size: 25px;
  }

  /* Ajusta el diseño del popup de cómo jugar */
  .popup {
      padding: 3px;
  }
.botonp{
  margin-top: 25%;
margin-left: 50%;
font-size: 23px;
padding: 2px 2px 2px 2px;
  }
}
