body{
    background:url(../img/WinFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor-textos{
    margin-left: 1%;
    margin-top: 1%;
    color: rgb(13, 13, 14);
}
.textos{
padding: 10px 10px 10px 10px;
}
.titulo{
    font-family:'Caprasimo' ;
    color: rgb(255, 223, 80);
    font-size: 50px;
    text-align: center;
}
.subtitulo{
    margin-left:35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}
li{
    margin-left: 40%;
}
.texto{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    margin-left: 5%;
}
.botones-superiores{
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex; /* Usamos flexbox para alinear horizontalmente los botones */
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-left: 80%;
}
.btnplay{
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    border-radius: 100%;
    border-style: 1px;
    border-color: white;
    color: white;
    font-family:'Caprasimo' ;
    height: 40px;
    width: 40px;
    padding: 1px 1px 1px 1px;
}
.btnstop{
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    border-radius: 100%;
    border-style: 1px;
    border-color: white;
    color: white;
    font-family:'Caprasimo' ;
    height: 40px;
    width: 40px;
    padding: 1px 1px 1px 1px;
}
/*  ESTILO DE LOS BOTONES */
.botones {
    margin-top: 5%;
    display: flex; /* Usamos flexbox para alinear horizontalmente los botones */
    justify-content: center; /* Alineamos los botones horizontalmente al centro */
}

.boton {
    margin-left: 10px; /* Agregamos un espacio entre los botones */
    text-align: center; /* Centramos el texto de los botones */
}

/* Estilos para los botones */
.again {
    font-size: 24px;
    border-radius: 100%;
    border: 2px solid #fff; /* Cambiamos border-style y border-color */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    color: #fff;
    padding: 15px 15px 15px 15px;
}

.next {
    font-size: 18px;
    border-radius: 100%;
    border: 2px solid #fff; /* Cambiamos border-style y border-color */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    color: #fff;
    padding: 15px 15px 15px 15px;
}

.home {
    font-size: 22px;
    border-radius: 100%;
    border: 2px solid #fff; /* Cambiamos border-style y border-color */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    color: #fff;
    padding: 15px 15px 15px 15px;
}
@media (max-width: 720px)  {
    body{
        background: url(../img/Winh.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
    .textos{
        padding: 5px 5px 5px 5px;
        } 
        .btnplay{
            margin-left: 5%;
            padding: 5px 5px 5px 5px ;
        }
        .btnstop{
            margin-left: 2%;
            padding: 5px 5px 5px 5px ;
        }
}