body{
    background-image: url("../img/Finalfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.texto{align-items: center;
    display: flex;
    margin-top: 4%;
    
    padding: 10px 10px 10px 10px;

}
#despedida{
    margin-top: 4%;
 font-size: 35px;
 text-align: center;
 font-family: 'Caprasimo', cursive;
 color:#EBC43D;
 line-break:auto;
 background: -webkit-linear-gradient(rgb(250, 250, 118),rgb(219, 237, 59));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
/*estilo imagen*/
img{
    width: 25%;
    margin-left: 50%;
}
/*  ESTILO DE LOS BOTONES */
.botones {
    margin-top: 2%;
    display: flex; /* Usamos flexbox para alinear horizontalmente los botones */
    justify-content: center; /* Alineamos los botones horizontalmente al centro */
}
.boton {
    margin-left: 10px; /* Agregamos un espacio entre los botones */
    text-align: center; /* Centramos el texto de los botones */
}
.home {
    font-size: 22px;
    border-radius: 100%;
    border: 2px solid #fff; /* Cambiamos border-style y border-color */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    color: #fff;
    padding: 15px 15px 15px 15px;
}
a{
    text-decoration: none;
    color: white;
}
@media(max-width: 720px) {
    body{
        background: url(../img/Finalh.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #despedida{
        font-size: 37px;
    }
   /*  ESTILO DE LOS BOTONES */
.botones {
    margin-top: 7%;
    display: flex; /* Usamos flexbox para alinear horizontalmente los botones */
    justify-content: center; /* Alineamos los botones horizontalmente al centro */
}
.boton {
    margin-left: 10px; /* Agregamos un espacio entre los botones */
    text-align: center; /* Centramos el texto de los botones */
}
.home {
    font-size: 22px;
    border-radius: 100%;
    border: 2px solid #fff; /* Cambiamos border-style y border-color */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fae98c 0%, #f2f84d 100%);
    color: #fff;
    padding: 15px 15px 15px 15px;
} 
}