.cuerpo{
    outline-style: none;
    }
    body{
        background: url(../img/escenarioprincipal.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .titulo{
        text-align: center;
        font-family: 'Caprasimo', cursive;
        font-weight: bold;
        font-size: 33px;
        color:#EBC43D;
        line-break:auto;
        margin-top: 4%;
        margin-left: 25%;
        margin-right: 25%;
        background: -webkit-linear-gradient(rgb(231, 102, 42),rgb(241, 51, 37));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;
    }
    .subtitulo{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:#646463;
        font-size: 25px;
    }
    button{
      font-family:'Segoe UI';  
      font-size: 38px;
      margin-left: 43%;
      margin-right: 43%;
      margin-top: 3%;
      margin-bottom: 1rem;
      border-bottom: 5px;
      border-radius: 35px;
      border-color: #FFFFFF;
      color: #FFFFFF;
      border-width: 2px;
      padding: 10px 60px;  
    }

    .button{
background: linear-gradient(180deg, #f5d523 0%, #f8924d 100%);
transition: all .3s;
    }
    .button:hover{
        background: linear-gradient(180deg, #f8d75e 0%, #ff9900 100%);
        transition: all .3s;
    }
    @media (max-width: 720px)  {
        body{
            background-image: url(../img/inicioh.png);
          background-size: auto;
            text-align: center;
            position: relative;
        }
        .titulo{
            margin-top: 15%;
            margin-bottom: 3%;
            margin-left: 4%;
            margin-right: 3%;
        font-size: 28px;
        }
        .subtitulo{
            text-align: center;
            font-size: 25px;
            margin-bottom: 3%;
        }
        button{
            font-family: monospace;
            font-size: 40px;
            font-style: bold;
            padding: 12px 42px;
            margin-left: 35%;
            margin-right: 43%;
            margin-top: 15%;
            margin-bottom: 5%;
        position: relative;
        border-width: 1px;
        }
    }