/* ESTILO DEL BODY */
body{
    background-image: url("../img/Esenario.png");
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.Cuerpo{
    width:100%;
    text-align: center;
    position: fixed;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column; /* Cambia la dirección de flexbox en pantallas pequeñas */
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Caprasimo', cursive;
    color: rgb(95, 160, 98);
    font-size: 25px;
}
h2{
    font-size: 26px;
    align-items: center;
    color: #000;
}
.secciones-container {
    display: flex;
    align-items: center;
  }
/* ESTILO DE LAS SECCIONES */
/* seccion1 */
.seccion1{
background-color: rgba(148, 245, 84, 0.676);
padding: 10px 10px 10px 10px ;
border-radius: 5%;
align-items: center;
margin-left: 2%;
margin-top: 12%;
}
.button{
height: 100px; width: 100px;
font-size: 40px; color: rgb(36, 70, 8); font-weight: bold;
background: rgba(255, 255, 255, 0.377);
border-color: white;
border-radius: 10%;
}
.button:hover{
cursor:pointer;
}
/* seccion 2 */
.seccion2{
    background-color: rgba(216, 245, 84, 0.39); 
    border-radius: 5%;
    padding: 10px 10px 10px 10px ;
    align-items: center;
    margin-top: 12%;
    text-align: center;
    margin-left: 5px;
}
.estadistica{
    border: 1px solid white;
    height: 60px;
    width: 200px;
    box-sizing: border-box;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.estadistica1{
    border: 1px solid white;
    border-radius: 10%;
    height: 70px;
    width: 200px;
    font-size: 30px;
    box-sizing: border-box;
}

/*  ESTILO DE LOS BOTONES */
.botones{
    margin-top: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.boton{
flex-direction:column;
justify-content: center;
margin-top: 10px;
position: relative;
margin-left: 50px;
}
    .again{
        font-size: 38px;
border-radius: 100%;
border-color: #fff;
border-width: 2px;
align-items: center;
justify-content: center;
background: linear-gradient(180deg, #fae98c 0%, #f8924d 100%);
color: #fff;
padding: 10px 15px;
   }
    .next{
        font-size: 33px;
        border-radius: 100%;
        border-color: #fff;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, #cdfc75 0%, #56a830 100%);
        color: #fff;
        padding: 10px 15px;
    }
    img{
        width: 80%;
    }
    /* -------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------*/
/* Media query para pantallas más pequeñas (menos de 720px de ancho) */
@media (max-width: 720px)  {
    body{
        background-image: url("../img/Esenario.png");
   background-repeat: no-repeat;
    }
    main {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-top: 30px;
    }

    h1 {
        font-size: 23px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    h2 {
        font-size: 15px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
    }

    .secciones-container {
        display: flex;
        align-items: center;
        flex-direction: column; /* Cambia a una disposición de columna en pantallas pequeñas */
    }

    .seccion1 {
        margin: 10px;
        margin-top: 5%;
        padding: 3px;
        order: 2; /* Cambia el orden de visualización para que sea el segundo elemento */
    }

    .button {
        height: 70px;
        width: 70px;
        font-size: 10px;
        color: rgb(36, 70, 8);
        font-weight: bold;
        background: rgba(248, 216, 149, 0.576);
        border-color: white;
        border-radius: 10%;
    }

    .seccion2 {
        margin-top: 1px;
        margin: 10px; /* Ajusta el margen en pantallas pequeñas */
        padding: 5px;
        order: 1; /* Cambia el orden de visualización para que sea el primer elemento */
        width: 100%;
        height: 20%;
        padding: 2px 2px; 
    }

    .estadistica {
        text-align: center;
        height: 35px;
        width: 100%;
        margin-bottom: 2px;
    }

    .estadistica1 {
        height: 35px;
        width: 100%;
        margin-bottom: 2px;
    }

    .botones {
        display: flex;
        margin-top: 0px;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .boton {
        flex-direction: row;
        justify-content: left;
    }

    .again {
        font-size: 20px;
        border-radius: 100%;
        border-color: #fff;
        border-width: 1px;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 7px 7px 7px 7px;
    }

    .next {
        border-width: 1px;
        font-size: 15px;
        border-radius: 100%;
        border-color: #fff;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 7px 7px 7px 7px;
    }
}